@import "../../../../styles/colors";
.card {
  display: flex;
  position: relative;
  flex-direction: row;
  border: 1px solid gray;
  background: $White;
  border-radius: 3px;
  width: 190px;
  margin: 0 0 5px;
  cursor: grab;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.cardActive {

}

